<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="~/Assets/img/fav-icon.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Fancy</title>

    <!-- Icon css link -->
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/elegant-icon/style.css" rel="stylesheet">
    <link href="~/Assets/vendors/themify-icon/themify-icons.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="~/Assets/vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="~/Assets/vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="~/Assets/vendors/revolution/css/navigation.css" rel="stylesheet">
    <link href="~/Assets/vendors/animate-css/animate.css" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="~/Assets/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">

    <link href="~/Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--================Search Area =================-->
    <section class="search_area">
        <div class="search_inner">
            <input type="text" placeholder="Enter Your Search...">
            <i class="ti-close"></i>
        </div>
    </section>
    <!--================End Search Area =================-->
    <!--================Header Menu Area =================-->
    <header class="main_menu_area">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/Home/Index"><img src="~/Assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

           @Html.Partial("MenuPartial")
        </nav>
    </header>
    @RenderBody()
    <footer class="footer_area">
        @Html.Partial("ContactPartial")
        <div class="copy_right_area">
            <div class="container">
                <div class="float-md-left">
                    <h5>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </h5>
                </div>
                <div class="float-md-right">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Disclaimer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Advertisement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Rev slider js -->
    <script src="~/Assets/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Assets/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Assets/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <!-- Extra plugin css -->
    <script src="~/Assets/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Assets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="~/Assets/vendors/counterup/apear.js"></script>
    <script src="~/Assets/vendors/counterup/countto.js"></script>
    <script src="~/Assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Assets/vendors/parallaxer/jquery.parallax-1.1.3.js"></script>
    <!--Tweets-->
    <script src="~/Assets/vendors/tweet/tweetie.min.js"></script>
    <script src="~/Assets/vendors/tweet/script.js"></script>

    <script src="~/Assets/js/theme.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>
